/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	margin:0px;
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start of Custom Styles */

::-webkit-scrollbar {
	display: none;
}


html {
	 font-family: "Gill Sans", Gill Sans, sans-serif;
	 letter-spacing: 0.01rem;
	 font-size: 16px;
}

body {
	background-image: url(css-images/backgroundEmpty.png);
	background-repeat: no-repeat;
	position: fixed;

}


#top-nav {
	background-color: #0b233b;
	position: fixed;
	z-index: 9999;
	width:100%;
}

#nav-content {
	display: -webkit-flex;
	padding-left: 3.125%;
	padding-right: 3.125%;
}

#nav-logo {
	padding-top: 0.84375rem;
	width: 7.5em;
}

#nav-logo:hover {
	cursor: pointer;
}

#search-holder {
	padding-left: 3.125rem;
	padding-right: 30.844rem;
	width: 18.75rem
}

#search-form {
	position: relative;
	top: 0.9375rem;
	width:16.375rem;
}

#search-form > input {

	background: url(css-images/searchIcon.png) 7px;
	background-size: 0.625rem;
	background-repeat: no-repeat;
	background-position: 1.15625rem;
	font-family: "Gill Sans MT", Gill Sans, sans-serif;
	width:inherit;
	height: 1.6875rem;
	border-radius: 10rem;
	border-width: 0px;
	background-color: rgba(25,80,128,0.4);
	color: rgba(255,255,255,0.8);
}

#search-form > input[type="text"] {
	font-size: 80%;
	
	padding-left: 2.375rem;
}

#search-form > input:hover {
	background-color: rgba(25,80,128,0.5);
}


#search-form > input[type="text"]:focus {
	outline: none;
	color:rgba(255,255,255,0.9);
	background-color: rgba(25,80,128,0.5);
}

#profile-face {
	float: right;
	padding-top: 0.90625rem;
	width:1.875rem;
}

#profile-face:hover {
	cursor: pointer;
}

#user-name {
	padding-top: 1.53125rem;
	padding-left:0.75rem;
	padding-right: 1.15rem;
	color:white;
	font-size: 86%;
	font-weight: 400;
	opacity: 0.9;
}

#user-name:hover {
	cursor: pointer;
	opacity: 1.0;
}


.nav-icon img {
	width: 1.0635rem;
	padding-left: 1.15625rem;
	padding-top: 1.3125rem;
	opacity: 0.5;
}

.nav-icon img:hover {
	cursor: pointer;
	opacity: 0.65;
}

#settings img {
	width: 0.75rem;
	padding-top: 0.5rem;
	opacity: 0.2;
	padding-left: 0.125rem;
	padding-right: 0.0625rem;
}


#settings img:hover {
	cursor: pointer;
	opacity: 0.5;
}

#notifications-icon {
	padding-right: 1rem;
}

#connections-icon {
}

#user-posts {
	padding-top: 5.25rem;

	padding-left: 2.5rem;
	padding-right: 2.5rem;
	width:62.1875rem;
	overflow: scroll;
}

#user-posts > div {

	display: inline-block;
	width:30.3125rem;
	border-radius: 5px;
	margin-bottom: 1.5625rem;
}

#user-posts > div:hover {
	cursor: pointer;
}


#first-post {
	background-color: white;
	float: left;
	height: 11.588rem;

}

#second-post {
	background: url(css-images/locationIcon.png) 7px;
	background-size: 0.625rem 0.75rem;
	background-color: white;
	float: right;
	height: 23.1875rem;
}

#helena-pic {
	height: inherit;
	border-top-left-radius: inherit;
	float: left;
	border-bottom-left-radius: inherit
}


#location-icon {
	position: relative; 
	width: 0.625rem;
	height: 0.75rem;
	left: -18.156rem;
	top:21.90625rem;
	z-index: 1;
}

#helena-location {
	position: relative;
	top: 21.0625rem;
	left: -17rem;
	font-size: 80%;
	color: white;
	z-index: 1;
	font-weight: 300;
}
#helena-location:hover {
	cursor: pointer;
	color: rgba(255,255,255,0.85);
}

.gradient {
	position: relative;
	top: -371px;
	z-index: 0;
	width: 300px;
}

#third-post {
	background-color: white;
	float: left;
	height: 23.1875rem;
}

#fourth-post {
	background-color: white;
	float: right;
	height: 18.75rem;

}

#fifth-post {
	background-color: white;
	float: left;
	height: 18.75rem;

}

#sixth-post {
	background-color: white;
	float: right;
	height: 23.1875rem;
}

#seventh-post {
	background-color: white;
	float: left;
	height: 23.1875rem;
}

#eighth-post {
	background-color: white;
	float: right;
	height: 18.75rem;

}






#sidebar {
	position: fixed;
	background-color: white;
	right: 0px;
	top: 0px;
	height:100%;
	width:12.82125rem;

}




	













